---
import { pwaInfo } from 'virtual:pwa-info';
export interface Props {
	title: string;
}
// replaced dynamically
const buildDate = __DATE__;
const { title } = Astro.props as Props;
---

<html lang="zh-TW">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/pwa-192x192.png">
    <link rel="mask-icon" href="/favicon.svg" color="#fefeff">
    <meta name="msapplication-TileColor" content="#fefeff">
    <meta name="theme-color" content="#fefeff">
    <title>{title}</title>
    <meta name="description" content={title}>
    <style is:global>
      @import '@master/normal.css';
    </style>
    { pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
    <script src="/src/pwa.ts"></script>
    <script>
      import "../../master.css"
    </script>
  </head>
  <body class="bg:accent-1500">
    <main class="container pt:12">
      <slot />
    </main>
  </body>
</html>
